
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/*font-family: 'Manrope', sans-serif*/



:root{
--SoftCyanFullSliderBar:  hsl(174, 77%, 80%);
--StrongCyanSliderBackround: hsl(174, 86%, 45%);
--LightGrayishRed: (DiscountBackground) hsl(14, 92%, 95%);
--LightRed: (Discount Text) hsl(15, 100%, 70%);
--PaleBlue: (CTA Text) hsl(226, 100%, 87%);


--White: (Pricing Component Background) hsl(0, 0%, 100%);
--VeryPaleBlue: (Main Background) hsl(230, 100%, 99%);
--LightGrayishBlue: (Empty Slider Bar) hsl(224, 65%, 95%);
--LightGrayishBlue: (Toggle Background) hsl(223, 50%, 87%);
--GrayishBlue: (Text) hsl(225, 20%, 60%);
--DarkDesaturatedBlue: hsl(227, 35%, 25%); /* (Text & CTA Background) */




}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'manrope', sans-serif;
}







