
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/*font-family: 'Manrope', sans-serif*/



:root{
--SoftCyanFullSliderBar:  hsl(174, 77%, 80%);
--StrongCyanSliderBackround: hsl(174, 86%, 45%);
--LightGrayishRed: (DiscountBackground) hsl(14, 92%, 95%);
--LightRed: (Discount Text) hsl(15, 100%, 70%);
--PaleBlue: (CTA Text) hsl(226, 100%, 87%);


--White: hsl(0, 0%, 100%);
--VeryPaleBlue:  hsl(230, 100%, 99%);
--LightGrayishBlue: (Empty Slider Bar) hsl(224, 65%, 95%);
--LightGrayishBlue: hsl(223, 50%, 87%);
--GrayishBlue: (Text) hsl(225, 20%, 60%);
--DarkDesaturatedBlue: hsl(227, 35%, 25%); /* (Text & CTA Background) */




}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'manrope', sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(230, 100%, 99%) ;


}

body{
    min-height: 600px;
    min-width: 50%;
    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    

}



.title{
    
    color: hsl(227, 35%, 25%);
    margin-bottom: 120px;
    font-size: 22px;
    margin-top: 66px;
}


.title p{
    font-size: 21px;
    justify-content: center;
    margin-left: 68px;
    line-height: 53px;
}

img{
    position:absolute;
    top: 40px;
    left: 945px;
    width: 220px;
    height: 22;

}


.card{
    background-color: hsl(0, 0%, 100%);
    padding: 8%;
    margin: 2% 3%;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 1px 1px;


}



.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 30px;
  

}

.informations{
    display: flex;

}


div input{
    display: none;

}


div label{
    position: relative;
    display: block;
    width: 65px;
    height: 30px;
    background: #888;
    border-radius: 20px;
    cursor: pointer;
    transition:  300ms linear;
    margin-left: 20px;
    margin-right: 20px;

}

div label::before {
    position: absolute;
    top: 50%;;
    left: 5px;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 20px;
    height: 20px;       
    background: #eee;
    border-radius: 50%;
    transition: left 300ms linear;


}

div input:checked + label {

    background:hsl(174, 86%, 45%);
}

div input:checked + label::before{

    left: 43px;

}

sans{
    background-color:hsl(15, 58%, 91%);
    color: hsl(15, 100%, 70%);
    border-radius: 17px;
    padding: 4.5px;
    margin-left: 20px;

}

ul{
list-style-image: url(/images/icon-check.svg)



}

.bnt{

    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    color: hsl(227, 35%, 25%);
    font-size: 14px;


}



